In [19]:
import os
import numpy as np
import pandas as pd
from glob import glob

In [32]:
INPUT_FILE = "./input.csv"
OUTPUT_PATH = "./output"

df_input = pd.read_csv(INPUT_FILE, low_memory=False)
df_output = pd.concat([pd.read_csv(f) for f in [os.path.join(OUTPUT_PATH, f"output_file_{i}_of_100.csv") for i in range(100)]], ignore_index=True)
df_output_v2 = pd.concat([pd.read_csv(f) for f in [os.path.join(OUTPUT_PATH, f"output_file_{i}_of_30.csv") for i in range(30)]], ignore_index=True)

In [33]:
df_output.head()

      input  SLURM_ARRAY_TASK_ID  SLURM_ARRAY_TASK_COUNT    output
0  0.381938                    0                     100  1.381938
1  0.010061                    0                     100  1.010061
2  0.220818                    0                     100  1.220818
3  0.944022                    0                     100  1.944022
4  0.348200                    0                     100  1.348200

In [34]:
df_output_v2

         input  SLURM_ARRAY_TASK_ID  SLURM_ARRAY_TASK_COUNT    output
0     0.381938                    0                      30  1.381938
1     0.010061                    0                      30  1.010061
2     0.220818                    0                      30  1.220818
3     0.944022                    0                      30  1.944022
4     0.348200                    0                      30  1.348200
...        ...                  ...                     ...       ...
9995  0.313750                   29                      30  1.313750
9996  0.034611                   29                      30  1.034611
9997  0.434952                   29                      30  1.434952
9998  0.399060                   29                      30  1.399060
9999  0.021293                   29                      30  1.021293

[10000 rows x 4 columns]

In [36]:
assert np.all(df_output["input"] == df_input["input"]) and np.all(df_output_v2["input"] == df_input["input"])
assert np.all(np.isclose(df_output["output"], df_output["input"] + 1)) and np.all(np.isclose(df_output_v2["output"], df_output_v2["input"] + 1))

In [37]:
# tracks the number of tasks in each job.
df_output["SLURM_ARRAY_TASK_COUNT"].value_counts()

SLURM_ARRAY_TASK_COUNT
100    10000
Name: count, dtype: int64

In [38]:
# tracks the number of jobs in each batch.
df_output["SLURM_ARRAY_TASK_ID"].value_counts()

SLURM_ARRAY_TASK_ID
0     100
63    100
73    100
72    100
71    100
     ...
30    100
29    100
28    100
27    100
99    100
Name: count, Length: 100, dtype: int64

In [41]:
# tracks the number of jobs in each batch.
df_output_v2["SLURM_ARRAY_TASK_ID"].value_counts()

SLURM_ARRAY_TASK_ID
0     334
1     334
28    334
27    334
26    334
25    334
24    334
23    334
22    334
21    334
20    334
19    334
18    334
17    334
16    334
15    334
14    334
13    334
12    334
11    334
10    334
9     334
8     334
7     334
6     334
5     334
4     334
3     334
2     334
29    314
Name: count, dtype: int64